/* Media Query for tablets and low end pc*/
@media (max-width: 1199px) {
  #menu_button {
    display: none;
  }

  #hamburger_menu_container {
    display: none;
  }

  /*welcome section*/
  #welcome-section {
    /*By default direction will be column in pc:row and mobile:column*/
    flex-direction: row;
    align-items: flex-start;
  }

  footer {
    flex-direction: row;
  }



}

/* Media Query for Mobile Devices */

@media (max-width:767px) {
  #header {
    justify-content: space-between;
    background-color: #0000009e;
  }

  #menu_button {
    display: inline;
  }

  /*hamburger menu*/
  #hamburger_menu_container {
    display: none;
  }

  #middle-button {
    display: none;
  }

  /*carousel center buttons*/
  #center_carousel_container {
    top: 45%;
    left: 10%;
  }

  #carousel_top_head h4 {
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    letter-spacing: 4px;
  }

  #carousel_main_head h1 {
    font-size: 40px;
  }

  #carousel_sub_head h6 {
    font-weight: 10px;
    letter-spacing: 2px;
  }

  /*welcome section*/
  #welcome-message-container {
    margin-top: 0px;
    width: 100%;
    padding: 20px;
  }

  #welcome-section {
    /*By default direction will be column in pc:row and mobile:column*/
    flex-direction: column;
  }

  #img-container {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  #comment2,
  #comment3 {
    display: none;
  }


  /* category  */
  #category-img img {
    width: 150px;
    height: 150px;
  }

}