/*Mobile view first*/

/*header*/
#header {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 100%;
    padding: 20px;
    z-index: 2;
    /*header to come above the caorusel*/
}
.relative-header{
    position: relative;
}
/*to be added using js on scroll so that fixed header will be shown*/
.fixed-header{
    position: fixed;
    top:0;
    background-color:#484848;
    height: 80px;
    transition: all .5s ease-in;
    
}
#logo img {
    width: 100px;
}

#middle-button {
    margin-left: 300px;
    padding: 5px;
    font-size: 15px;
}

.head_button {
    display: inline-block;
    margin: 0px 30px;
    height: 100%;
}

.head_button:hover {
    font-size: 16px;
    border-bottom: 1px solid wheat;
    transition: border 0.7s;

}

.head_button a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

.head_button a:hover {
    color: rgb(255, 205, 111);
    ;
}

#right-buttons {
    margin: 0px 10px;
    font-size: 25px;
    color: wheat;
    cursor: pointer;
}

#right-buttons i:hover {
    color: rgb(255, 205, 111);
}

.fa-burger {
    margin: 15px;
    font-size: 30px;
}

#menu_button {
    text-decoration: none;
    color: wheat;
    display: none;
}

/*hamburger menu*/
@keyframes menu_animation {
    from {
        margin-top: -50px;
    }

    to {
        margin-top: 0px;
    }
}

#hamburger_menu_container {
    border-bottom: 0.5px solid black;
    position: absolute;
    /*as we need our menu above the carousel*/
    background-color: #ffe28ad4;
    width: 100%;
    z-index: 1;
    display: none;
    animation: menu_animation .5s;
}

.menu {
    padding: 10px;
    font-size: 20px;
    list-style: none;
    /*to remover bullets*/
}

.menu a {
    text-decoration: none;
    color: black;
}

/*carousel settings*/
.carousel-image {
    width: 100%;
    height: 100vh;
    margin-top: -100px;
}

.carousel-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    /*to make image more blacky */
}

/*carousel center buttons*/
#center_carousel_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 40%;
    left: 25%;
    margin: 0;
    color: white;
    text-transform: capitalize;
}

#carousel_top_head h4 {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    letter-spacing: 5px;
}

#carousel_main_head h1 {
    font-size: 70px;
}

#carousel_sub_head h6 {
    font-weight: 10px;
    letter-spacing: 2px;
}
/*all sections common css*/
section:nth-child(odd){
    background-color: #ebebebde;
}
section:nth-child(even){
    background-image:url('./assets/bg-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*Welcome section*/
#welcome-section {
    padding: 50px;
    display: flex;
    /*By default direction will be column in pc:row and mobile:column*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#welcome-message-container {
    margin-right: -100px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    z-index: 1;
}

#welcome-header1 {
    color: #ffbf00;
    font-family: "Brush Script MT", cursive
}

#welcome-header1 h2 {
    font-size: 50px;
}

#welcome-header2 {
    font-family: "Verdana";
}

#welcome-header2 h1 {
    font-size: 35px;
}

#message-seprator-img {
    padding: 20px;
}

#message-seprator-img img {
    width: 30px;
}

#message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*banner images 1 is large in height other is not*/
#img-container {
    opacity: 1;
    margin-top: 30px;
    width: 600px;
    /*to align images side by side*/
    display: flex;
}

#large-img {
    margin-right: 10px;
}

#large-img img {
    width: 100%;
    height: 400px;
}

#small-img img {
    width: 100%;
    height: 350px;
    padding-top: 90px;
}

/*keyframe for baner to be added using js */
@keyframes fade {

    0%{
        margin-right:-100px;
        opacity: 0;  
    }
    50% {
        opacity: 1;
    }
    100%{
        margin-right:0px;
    }
}

/*Comments / rating section */
#people-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:80px;
}
#people-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius:10px;
}

#comments-container{
    display: flex;
    width: 100%;
}
.comment{
    width:100%;
    padding:30px;
    border-radius:5px;
    background-color: #fff9e6f2;
    margin:0px 19px;
    height:400px;
}
#rating{
    padding:20px 0px;
    color:#ffbf00;
}
#comment-content{
    color:#484848
}
#about-user:nth-child(2){
    color:484848;
}
#profile-img img{
    border-radius: 50%;
    width:80px;
    height:80px;
}
